;; Clojure formatted settings:
;; example
;; {
;;     :plugins    ["import"]
;;     :directory  "/path/to/music"
;;     :log-dir    "/path/to/logs"
;;     :database {
;;         :mongodb_database   "synesth-dev-db"
;;         :mongodb_hostname  "localhost"
;;         :mongodb_port      27017
;;         }
;; }
{
    :plugins    []
    :directory  "/home/mark/music"
    :log-dir    "/tmp"
    :database {
        :mongodb_database   "synesth-dev-db"
        :mongodb_hostname  "localhost"
        :mongodb_port      27017
        }
}
